@font-face {
  font-family: Magilio;
  src: url(../fonts/magilio.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat.ttf);
}

.about-container {
  width: 100%;
  background-color: #dfd9d3;
  height: 950px;
}

.about-left-side {
  width: 60%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.about-left-side > h1 {
  color: black;
  font-size: 90px;
  font-family: Magilio;
  text-align: center;
}

.about-left-side > p {
  margin-left: 15%;
  margin-right: 15%;
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
}

.about-right-side {
  width: 40%;
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
}

.about-right-side > img {
  width: 90%;
  /* height: 60%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(80%);
}

@media screen and (max-width: 960px) {
  .about-container {
    width: 100%;
    height: 100vh;
    display: block;
  }
  .about-left-side {
    width: 100%;
    justify-content: center;
  }

  .about-left-side > p {
    margin: 0 auto;
    text-align: center;
  }

  .about-left-side > h1 {
    margin: 0 auto;
  }
  .about-right-side {
    width: 0%;
  }

  .about-right-side > img {
    width: 0%;
    height: 0%;
  }
}
