.contact-container {
  width: 100%;
  height: 800px;
  background: url("../../assets/15.jpg") no-repeat center center fixed;
  background-size: cover;
  /* filter: brightness(50%); */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contact-container > h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 90px;
  font-family: Magilio;
  text-align: center;
  opacity: 0.8;
}

.contact-container > p {
  color: rgba(255, 255, 255, 1);
  text-decoration: bold;
  font-size: 64px;
  font-family: Magilio;
  text-align: center;
  opacity: 0.8;
}

.contact-img {
  width: 3%;
}

.padding-h1 {
  padding-top: 40px;
}

@media screen and (max-width: 960px) {
  .contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .contact-container > h1 {
    font-size: 64px;
  }

  .contact-container > p {
    font-size: 54px;
  }

  .contact-container > img {
    width: 0%;
  }

  .contact-img {
    width: 7%;
  }
}
