@font-face {
  font-family: Montserrat;
  src: url("./fonts/montserrat.ttf");
}

:root {
  --primary: #fff;
}

.btn {
  margin-top: 2%;
  padding: 10px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  width: 50%;
  align-items: center;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  /* padding: 8px 20px; */
  font-family: Montserrat;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  /* padding: 12px 26px; */
  display: block;
  font-size: 30px;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}
